body {
	font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}
.up,.down {
	box-sizing: border-box;
	padding: 10px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	position: absolute;
	z-index: 999;
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: #fff;
	opacity: 0.1;
}
.up {
	top: 0px;
}
.up:after {
	content: 'use arrow up on your keyboard';
	top: 40px;
}
.down {
	bottom: 0px;
}
.down:after{
	content: 'use space or arrow down on your keyboard';
	bottom: 40px;
}
.down:after,.up:after {
	color: #fff;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
.up:hover:after,.down:hover:after,.up:hover,.down:hover {
	opacity: 1;
}
.touch .down:after,.touch .up:after{
	content: '';
}
.touch .down:hover,.touch .up:hover{
	opacity: 0.1;
}
article a {
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	opacity: 0.8;
	font-style: italic;
}
article a:before {
	content: '"';
}
article a:after {
	content: '"';
}
article a:hover {
	text-decoration: underline;
	opacity: 1;
}
article {
	position: relative;
	box-sizing: border-box;
	font-weight: 300;
	color: #fff;
	width: 100%;
	text-align: left;
	padding: 0px 40px;
	font-size: 70px;
}
article p:last-of-type {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
article blockquote {
	margin-left: 0px;
	padding-left: 0px;
	line-height: 1;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	color: #fff;
	text-align: left;
}
article blockquote:before {
	content: '-';
}
section {
	display: none;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background: transparent no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media screen and (max-width:790px) {
	article {
		font-size: 50px;
	}
}
@media screen and (max-width:600px) {
	article {
		font-size: 30px;
	}
}

.background-color-navy {
	background-color: #001F3F;
}
.background-color-blue {
	background-color: #0074D9;
}
.background-color-aqua {
	background-color: #7FDBFF;
}
.background-color-teal {
	background-color: #39CCCC;
}
.background-color-olive {
	background-color: #3D9970;
}
.background-color-green {
	background-color: #2ECC40;
}
.background-color-lime {
	background-color: #01FF70;
}
.background-color-yellow {
	background-color: #FFDC00;
}
.background-color-orange {
	background-color: #FF851B;
}
.background-color-red {
	background-color: #FF4136;
}
.background-color-maroon {
	background-color: #85144B;
}
.background-color-fuchsia {
	background-color: #F012BE;
}
.background-color-purple {
	background-color: #B10DC9;
}
.background-color-white {
	background-color: #FFFFFF;
}
.background-color-silver {
	background-color: #DDDDDD;
}
.background-color-gray {
	background-color: #AAAAAA;
}
.background-color-black {
	background-color: #111111;
}