body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}
body,
input {
  /*color: #FFFAD5;*/
  color: #fff;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  font-weight: 300;
}
input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
}
main {
  height: 100vh;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0b4046;
  /*105B63*/
  -webkit-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}
.content {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  text-align: center;
}
.content .week {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1;
  font-size: 300px;
  max-width: 400px;
  text-align: center;
  margin-bottom: 5px;
}
.content .date {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.content .year {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.content .info {
  margin-top: 10px;
  font-size: 12px;
}
.animate {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0%,
  50%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  50%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}
@media (max-width: 768px) {
  .content .week {
    font-size: 100px;
    max-width: 280px;
  }
}
